body {
    margin: 10px;
    text-align: center;
    color: white;
    background: url("456300971_515529327516427_2271623375209950372_n.jpg");
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

li {
  font-size: 20px;
}

#glowna {
  font-size: 40px;
  font-family: darabka;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
}
#plakat {
  cursor: pointer;
  width: 50%;
  height: 50%;
}
.button{
    display:inline-block;
    padding:16px 40px;
    border:1px solid white;
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:3px;
    transition:0.3s;
    background:rgba(255,255,255,0.05);
}
@font-face {
  font-family: darabka;
  src: Daraba_full.ttf;
}

.a {
  font-family: darabka;
}
pre {
  font-size: 15px;
  font-weight: bold;
}
#log {
  padding: 10px 0;
}
ol {
  text-align: left;
}
.b {
  font-family: darabka;
  color: #800000;
}
table {
  border: 1px solid white;
  text-align: center;
  padding: 5px;
  width: 100%;
}
td {
  border: 1px solid white;
  text-align: center;
  padding: 5px;
  color: white;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.footer {
    background-color: rbga(0, 0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
}
